h1 {
  text-align: center;
}
body {
  text-align: right;
  margin-right: 20px;
  margin-top: 160px;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#chimbica {
  height: 120px;
  width: 100%;
  background-color: yellow;
}
ul{
	list-style-type: none;
	margin-top: 85px;
	margin-right: 300px;
}
li {
	display: inline;
	border: 2px solid #000000;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: black;
	margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.caceta {
  color: white;
}
#cau {
  color: black;
   text-align: right;
  margin-right: 20px;
  margin-top: 160px;
  position: relative;
}
img {
  margin-top: 40px;
  margin-right: 240px;
  height: 600px;
  width: 800px;
}
#pipa {
  height: 60px;
  width: 100%;
  background-color: yellow;
}
#texto {
  text-align: center;
  margin-top: 100px;
}
