h1 {
  text-align: center;
}
body {
  text-align: center;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#chimbica {
  height: 200px;
  width: 100%;
  background-color: yellow;
  position:; relative;
}
